<center>
<h1>Artist Pals API Routes</h1>
<h4>Here are the routes available with this api</h4>
<h3>MERCHANTS ENDPOINTS</h3>
<p><b>GET</b> /api/v1/merchants</p>
<p><b>GET</b> /api/v1/merchants/:id</p>
<p><b>POST</b> /api/v1/merchants</p>
<p><b>PATCH</b> /api/v1/merchants/:id</p>
<p><b>DELTE</b> /api/v1/merchants/:id</p>
<p><b>GET</b> /api/v1/merchants/find?params</p>
<p><b>GET</b> /api/v1/merchants/find_all?params</p>
<p><b>GET</b> /api/v1/merchants/:id/items</p>


<h3>ITEM ENDPOINTS</h3>
<p><b>GET</b> /api/v1/items</p>
<p><b>GET</b> /api/v1/items/:id</p>
<p><b>POST</b> /api/v1/items</p>
<p><b>PATCH</b> /api/v1/items/:id</p>
<p><b>DELTE</b> /api/v1/items/:id</p>
<p><b>GET</b> /api/v1/items/find_all?params</p>

<h3>USER ENDPOINTS</h3>
<p><b>POST</b> /api/v1/users</p>